.header
{
	font-size: 36px;
	text-align: center;
	color: #90766E;
	font-family: Blippo, fantasy;
}

h1
{
	font-family: Blippo, fantasy;
	color: #90766E;
}

h2
{
	font-family: Blippo, fantasy;
	color: #90766E;
}

body
{
	font-size: large;
	color: #6E5B53; 
	background-color: #E8DCB8;
	font-family: Luminari, fantasy;
	text-align: center;
}

p
{
	margin-left: 25px;
	margin-right: 25px;
}

q
{
	font-style: italic; 
}

footer
{
	text-align: center;
}

footer a
{
	color:  #4A0C00;
}


