header
{
	font-size: 36px;
	font-family: Blippo, fantasy;
	text-align: center;
}

body
{
	font-size: large;
	color: #6E5B53; 
	background-color: #E5D4B9;
	font-family: Luminari, fantasy;
	text-align: center;
}

footer
{
	text-align: center;
}

footer a
{
	color:  #4A0C00;
}

footer a h2
{
	font-family: Trattatello, fantasy;
}

q
{
	font-style: italic; 
}
