header
{
	font-family: Blippo, fantasy;
	text-align: center;
}

body
{
	font-size: large;
	color: E5D4B9; 
	background-color: #E2E2D5;
	font-family: Luminari, fantasy;
	text-align: center;
}

Footer
{
	text-align: center;
}
