header
{
	font-family: Blippo, fantasy;
	text-align: center;
}

body
{
	font-size: large;
	color: #6E5B53; 
	background-color: #E5D4B9;
	font-family: Luminari, fantasy;
	text-align: center;
}

Footer
{
	text-align: center;
}
