header
{
	font-size: large;
	font-family: Blippo, fantasy;
	text-align: center;
}

body
{
	font-size: large;
	color: #6E5B53; 
	background-color: #E5D4B9;
	font-family: Luminari, fantasy;
	text-align: center;
}

footer
{
	text-align: center;
}

footer a
{
	color:  #C04000;
}
