header
{
	font-size: 36px;
	font-family: Blippo, fantasy;
	text-align: center;
}

body
{
	font-size: large;
	color: #6E5B53; 
	background-color: #EBD5B3;
	font-family: Luminari, fantasy;
	text-align: center;
}

footer
{
	text-align: center;
}

footer a
{
	font-family: Trattatello, fantasy;
	color:  #4A0C00;
}
